.maxHeight__sendForm {
    height: 100px;
}

.messages__sendforms {
    .img__preview {
        overflow: hidden;
        position: absolute;
        img {
            height: 100px;
        }
    }
    textarea {
        padding-right: 65px;
    }
    .sendMethods {
        position: absolute;
        bottom: 40px;
        right: 0;
        .sendMethods-items {
            z-index: 2;
            position: absolute;
            display: flex;
            right: 0;
            margin-top: 10px;
            margin-right: 20px;
            span {
                margin-right: 5px;
                cursor: pointer;
            }
        }
    }
}

.sendButton {
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 10px;
    z-index: 999999;
}