.messages__sendforms {
    .img__preview {
        overflow: hidden;
        position: absolute;
        img {
            height: 100px;
        }
    }
    textarea {
        padding-right: 65px;
    }
    .sendMethods {
        position: absolute;
        top: 0;
        right: 0;
        .sendMethods-items {
            z-index: 2;
            position: absolute;
            display: flex;
            right: 0;
            margin-top: 10px;
            margin-right: 20px;
            span {
                margin-right: 5px;
                cursor: pointer;
            }
        }
    }
}